In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("Costomer+OrderForm.csv")

In [3]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [13]:
df = pd.get_dummies(df)

In [28]:
df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [29]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [30]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [31]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [34]:
data = pd.DataFrame({'Phillippines': [27,29], 'Indonesia': [267,33], 'Malta':[269,31], 'India': [280,20]})

In [35]:
data

   Phillippines  Indonesia  Malta  India
0            27        267    269    280
1            29         33     31     20

In [39]:
data2 = data.values

In [40]:
data2

array([[ 27, 267, 269, 280],
       [ 29,  33,  31,  20]], dtype=int64)

In [41]:
chi,p,dof,exp = chi2_contingency(data2)

In [42]:
print(f'chi = {chi},\n p = {p},\n dof = {dof}, \n exp = {exp}')

chi = 94.2903762624104,
 p = 2.6230917943638586e-20,
 dof = 3,
 exp = [[ 49.38075314 264.53974895 264.53974895 264.53974895]
 [  6.61924686  35.46025105  35.46025105  35.46025105]]